@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand-black: #000000;
  --color-brand-dark: #050505;
  --color-brand-gray: #0f0f0f;
  --color-brand-border: #1a1a1a;
  --color-brand-white: #ffffff;
}

@layer base {
  body {
    @apply bg-brand-black text-brand-white font-sans antialiased selection:bg-white selection:text-black;
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.brutalist-border {
  @apply border border-brand-border;
}

.glass-panel {
  @apply bg-brand-dark/80 backdrop-blur-md;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
